<div class="footer">
	<div class="footer-inner">
		<ul class="footer-nav clearfix">
			<li>
				<h4>关注站点</h4>
				<div class="qrcode"></div>
			</li>
			<li>
				<h4>联系方式</h4>
				<ul class="footer-contact-list">
					<li>企鹅:&nbsp;365715693</li>
					<li>
						Email:&nbsp;
						<a href="Mailto:novaline@qq.com">novaline@qq.com</a>
					</li>
					<li>
						<a class="github-button" href="https://github.com/Sspeed5cm/blog" data-style="mega" data-count-href="/Sspeed5cm/blog/stargazers" data-count-api="/repos/Sspeed5cm/blog#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Sspeed5cm/blog on GitHub">Star</a>
					</li>
					<li>
						<a class="github-button" href="https://github.com/Sspeed5cm" data-style="mega" data-count-href="/Sspeed5cm/followers" data-count-api="/users/Sspeed5cm#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @Sspeed5cm on GitHub">Follow @Sspeed5cm</a>
					</li>
					<li>
						<a class="github-button" href="https://github.com/Sspeed5cm/blog/fork" data-style="mega" data-count-href="/Sspeed5cm/blog/network" data-count-api="/repos/Sspeed5cm/blog#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork Sspeed5cm/blog on GitHub">Fork</a>
					</li>
				</ul>
			</li>
			<li>
				<h4>常用链接</h4>
				<ul class="footer-useful-link-list">
					<li>
						<a href="http://www.baidu.com" target="_blank">百度</a>
					</li>
					<li>
						<a href="http://www.google.com" target="_blank">Google</a>
					</li>
					<li>
						<a href="http://www.di.fm" target="_blank">Digitally&nbsp;Imported</a>
					</li>
					<li>
						<a href="http://github.com" target="_blank">GitHub</a>
					</li>
					<li>
						<a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN</a>
					</li>
				</ul>
			</li>
			<li>
				<h4>友情链接</h4>
				<ul>
					<li>&nbsp;</li>
				</ul>
			</li>
		</ul>
		<div class="site-intro">
			<p>Created by Du Lin</p>
			<p>Code licensed under MIT License</p>
			<p><a class="footer-gh-pro-link" href="https://github.com/Sspeed5cm/blog" target="_blank">GitHub Project</a></p>
		</div>
	</div>
</div>