<!-- 分页链接 -->
{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="previous-page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
    {% else %}
      <span class="previous-page">上一页</span>
    {% endif %}


    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <a class="page-num page-cur">{{ page }}</a>
      {% elsif page == 1 %}
        <a class="page-num page-index" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="page-num page-path" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="next-page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
    {% else %}
      <span class="next-page">下一页</span>
    {% endif %}
  </div>
{% endif %}