<!-- lib -->
<script src="{{site.baseurl}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
<script src="{{site.baseurl}}/assets/scripts/modernizr.custom.js"></script>
<script src="{{site.baseurl}}/assets/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{site.baseurl}}/assets/bower_components/reveal.js/js/reveal.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript">
	// 多说评论系统
	var duoshuoQuery = {short_name:"novaline"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- app -->
<script>
	// webshim.polyfill();
</script>
<script src="{{site.baseurl}}/assets/scripts/script.js"></script>
<script src="{{site.baseurl}}/assets/scripts/ppt.js"></script>
